/* 1. Tailwind core directive MUST go first */
@import "tailwindcss";

/* 2. Global element overrides come second */
html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #09090b;
    color: white;
    font-family: Inter, system-ui, sans-serif;
}

/* 3. Your custom utility utility classes at the bottom */
.page {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 10px;

  background: #0f172a;
  color: white;

  text-align: center;
}